{% extends "inc/base.html" %}

{% block content %}

<div class="row">
    <div class="col-4">
        <h1>Top questions</h1>
    </div>
    <div class="col-8">
        <h3><a href="{% url 'index' %}" class="top-questions">New questions</a></h3>
    </div>
</div>

{% for question in questions %}
    {% include 'inc/question_template.html' %}
{% endfor %}

{% if questions|length %}
    {% include 'inc/paginator.html' %} 
{% else %}
    {% include 'inc/empty_list.html' %}
{% endif %}

{% endblock %}
