{% extends "inc/base.html" %}

{% block content %}

<h1>Log In</h1>
<form class="login-form">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control wrong-input"
            id="exampleInputEmail1" minlength="3"
            aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text wrong-help-text">The user with this
            email was not found</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"
            minlength="8">
        <div id="passwordHelp" class="form-text">The password must contain more
            than 8 characters</div>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
<p class="new-account-btn">Don't have an account yet?
    <a href="{% url 'signup' %}">Create it!</a>
</p>

{% endblock %}
