
{% extends "inc/base.html" %}

{% load bootstrap5 %}
{% load static %}

{% block content %}

<h1>Settings: {{ user.username }}</h1>
<form novalidate action="/settings/" method="POST" enctype="multipart/form-data">
    {% bootstrap_form settings_form %}
    <div class="row change-avatar-module">
        <div class="col-9">
            <div class="mb-3">
                {% csrf_token %}
                {% bootstrap_form avatar_form %}
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="col-3">
            <div class="question-avatar">
                {% if user.profile.avatar %}
                    <img src="../{{ user.profile.avatar }}">
                {% else %}
                    <img src="{% static 'img/default.png' %}">
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% endblock %}
