
{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<h1>Settings: vvinokurshin</h1>
<form class="registration-form">
    <div class="mb-3">
        <label for="disabledInputEmai" class="form-label">Email address</label>
        <input type="email" id="disabledTextInput" class="form-control"
            placeholder="valera_valera03@mail.ru" disabled>
    </div>
    <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Username</label>
        <input type="username" class="form-control" id="exampleInputUsername1"
            minlength="6"
            maxlength="30" aria-describedby="usernameHelp" value="vvinokurshin">
        <div id="usernameHelp" class="form-text">This username is visible to all
            users</div>
    </div>
    <div class="row change-avatar-module">
        <div class="col-9">
            <div class="mb-3">
                <label for="formFile" class="form-label">Update an avatar</label>
                <input class="form-control" type="file" id="formFile">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="col-3">
            <div class="question-avatar">
                <img src="{% static 'img/avatar1.jpg' %}">
            </div>
        </div>
    </div>
</form>

{% endblock %}
