{% extends "inc/base.html" %}

{% block content %}

<h1>Registration</h1>
<form class="registration-form">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control wrong-input"
            id="exampleInputEmail1" minlength="3"
            aria-describedby="emailHelp">
        <!-- <div id="emailHelp" class="form-text">Enter the email that will be associated with your account
                        </div> -->
        <div id="emailHelp" class="form-text wrong-help-text">An account with
            such an email has already
            been registered
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Username</label>
        <input type="username" class="form-control" id="exampleInputUsername1"
            minlength="6"
            maxlength="30" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text">Enter a username that will be
            visible to all service
            members</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"
            minlength="8">
        <div id="passwordHelp" class="form-text">The password must contain more
            than 8 characters</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="exampleInputPassword"
            minlength="8">
        <div id="passwordHelp" class="form-text">Enter the password again</div>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Upload an avatar for your
            profile</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<p class="new-account-btn">Already have an account?
    <a href="{% url 'login' %}">Log in!</a>
</p>

{% endblock %}
