{% load static %}

<div class="answer">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                {% if answer.user.avatar %}
                    <img src="../{{ answer.user.avatar }}">
                {% else %}
                    <img src="{% static 'img/default.png' %}">
                {% endif %}
            </div>
            <div class="likes-module">
                {% include 'inc/likes.html' %}
            </div>
        </div>
        <div class="col-10">
            <div class="answer-text">
                <p id="{{ answer.id }}">{{ answer.text }} </p>
            </div>
            <div class="answers">
                <div class="row">
                    <div class="col-8">
                        <div class="form-check form-switch">
                            {% if answer.is_correct %}
                                {% if user.is_authenticated and question.user == user.profile %}
                                    <input class="form-check-input" type="checkbox"
                                        id="flexSwitchCheckChecked" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox"
                                        id="flexSwitchCheckChecked" checked disabled>
                                {% endif %}
                            {% else %}
                                {% if user.is_authenticated and question.user == user.profile %}
                                    <input class="form-check-input" type="checkbox"
                                        id="flexSwitchCheckChecked">
                                {% else %}
                                    <input class="form-check-input" type="checkbox"
                                        id="flexSwitchCheckChecked" disabled>
                                {% endif %}
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckChecked">Correct answer</label>
                        </div>
                    </div>
                    {% include 'inc/from_user.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
